<!doctype html>
<html>
	<head>
		<link rel="shortcut icon" href="{{ url_for('static', filename='63546997.ico') }}">
		<title>Videos</title>
	</head>
	<body>
		<p><a href="/">Home</a><br>The below list updates every 24 hours at midnight UTC</p>
		<h2>Videos with external subtitles ({{ data["_has"] |length }}/{{ data["_has"] |length + data["_doesnt"] |length }})</h2>
		<ul>
			{% for i in data["_has"] %}
			<li><a href="https://youtubexternalcc.netlify.app/video-player.html?videoID={{ i }}">{{ data[i]["video-details"]["title"] }}</a> | 
			{% if yt_data[i]["items"] %}
			{% for caption in yt_data[i]["items"] %}
			{{ caption["snippet"]["trackKind"] |upper }}&nbsp;
			{% endfor %}
			{% else %}
			NONE
			{% endif %}</li>

			{% endfor %}
		</ul>
		<h2>Videos without external subtitles</h2>
		<ul>
			{% for i in data["_doesnt"] %}
			<li><a href="https://youtubexternalcc.netlify.app/video-player.html?videoID={{ i }}">{{ data[i]["video-details"]["title"] }}</a> |
			{% if yt_data[i]["items"] %}
			{% for caption in yt_data[i]["items"] %}
			{{ caption["snippet"]["trackKind"] |upper }}&nbsp;
			{% endfor %}
			{% else %}
			<b>NONE</b>
			{% endif %}</li>

			</li>
			{% endfor %}
		</ul>
		<p><a href="https://github.com/alyssadev/subs">Source on GitHub</a></p>
	</body>
</html>
