<!doctype html>
<html>
	<head>
		<link rel="shortcut icon" href="{{ url_for('static', filename='63546997.ico') }}">
		<title>Videos</title>
	</head>
	<body>
		{% with messages = get_flashed_messages() %}
		{% if messages %}
		{% for message in messages %}
		<p><b>{{ message }}</b></p>
		{% endfor %}
		{% endif %}
		{% endwith %}
		<p><a href="/">Home</a><br>The below list updates every 24 hours at midnight UTC</p>
		<p>Jump: <a href="#has">Videos with external subtitles</a> | <a href="#doesnt">Videos without external subtitles</a></p>
		<a name="has"><h2>Videos with external subtitles ({{ data["_has"] |length }}/{{ data["_has"] |length + data["_doesnt"] |length }})</h2></a>
		{% for i in data["_has"] %}
		<span class="vid" id="{{ i }}">
			<h3>{{ data[i]["video-details"]["title"] }}</h3>
			<dt>Youtube</dt>
			<dd>
				<a href="https://www.youtube.com/watch?v={{ i }}">https://www.youtube.com/watch?v={{ i }}</a><br>
				Captions: 
				{% if yt_data[i]["items"] %}
					{% for caption in yt_data[i]["items"] %}
						{{ caption["snippet"]["trackKind"] |upper }}
					{% endfor %}
				{% else %}
					NONE
				{% endif %}
			</dd>
			<dt>Subs</dt>
			<dd>
				<a href="https://youtubexternalcc.netlify.app/video-player.html?videoID={{ i }}">youtubexternalcc</a><br>
				<a href="{{ i }}.srt">SRT by {{ data[i]["subtitles"]["Items"][0]["name"]["S"][:-3] }}</a>
			</dd>
		</span>
		{% endfor %}
		<a name="doesnt"><h2>Videos without external subtitles</h2></a>
		{% for i in data["_doesnt"] %}
		<span class="vid" id="{{ i }}">
			<h3>{{ data[i]["video-details"]["title"] }}</h3>
			<dt>Youtube</dt>
			<dd>
				<a href="https://www.youtube.com/watch?v={{ i }}">https://www.youtube.com/watch?v={{ i }}</a><br>
				Captions: 
				{% if yt_data[i]["items"] %}
					{% for caption in yt_data[i]["items"] %}
						{{ caption["snippet"]["trackKind"] |upper }}
					{% endfor %}
				{% else %}
					<b>NONE</b>
				{% endif %}
			</dd>
			<dt>Subs</dt>
			<dd>
				<a href="https://youtubexternalcc.netlify.app/video-player.html?videoID={{ i }}">youtubexternalcc</a><br>
			</dd>
		</span>
		{% endfor %}
		<p><a href="https://github.com/alyssadev/subs">Source on GitHub</a></p>
	</body>
</html>
